body{
  margin: 0;
}

.navigation{
  display: flex !important;
  gap: 10px;
}
.alert-popup{
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  z-index: 1000 !important;
}

/* Working in both laptop view and in mobile view */
/* 980px */
/* .container{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
} */


/* Working in both laptop view and in mobile view */
/* .container{
  display: grid;
  height: 100vh;
  place-items: center;
} */


/*Not working in mobile view  */
/* .container{ 
  position: absolute;
  top: 50%;
  left: 50%;
} */


/* Working in both laptop view and in mobile view.  Text-align -> For horizontal centering  Line-height -> For vertical centering*/
/* .container {
  text-align: center; 
  line-height: 100vh; 
} */
.comment{
    border: none !important;
    outline: none !important;
    width: 35rem;
}

.submit{
    float: right;
}

.commentSection{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: pre-line;
}

.post-style{
    display: flex;
    flex-shrink: 0 !important;
} 
