.comment{
    border: none !important;
    outline: none !important;
    width: 35rem;
}

.submit{
    float: right;
}

.commentSection{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: pre-line;
}

.post-style{
    display: flex;
    flex-shrink: 0 !important;
}
